/* CSS3 VARIABLES */
:root {
  --light-blue: #15a4fa;
  --icon-light-grey: #92929e;
  --icon-dark-grey: #6c747f;

  --subtle-grey: #eef2f5;


  --main-light-grey: #edf2f6;

  --open-button-circle-green: #86c338;

  --aside-profile-name-grey: #c9d1dd;
  --aside-grey-blue-text: #aab5c7;

  --aside-bold-grey: #65748d;
  --aside-navy-blue: #354052;
  --aside-navy-nav-hover: #30394a;
  --aside-icon-grey: #a0acbf;

  --aside-nav-checkbox-yellow: #ffd700;
  --aside-nav-checkbox-magenta: #df1e5f;
  --aside-nav-checkbox-green: #00b08b;

  --purple: #ac6cb6;
  --teal: #48babb;

  --job-description-blue: #6f7e95;
  --job-description-edit: #7c8ba6;

  --facebook-blue: #496ec1;
  --twitter-blue: #02abf0;
  --linked-in-blue: #0381bc;
}

* {
  font-family: 'Raleway', sans-serif;
}

html {
  width: 100%;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 50px ;
}

main {
  background-color: var(--main-light-grey);
}

.uppercase {
  text-transform: uppercase;
}

button {
  transition: background-color 0.4s ease;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

button:hover {
  transition: background-color 0.4s ease;
}

/* ASIDE */

aside {
  grid-area: 1 / 1 / 3 / 2;
}

.aside-line-break {
  border-color: #303a4a;
  border-top: 1px solid #293241;
  border-bottom: 1px solid #293241;
}

.collapsible-aside-container {
  background-color: var(--aside-navy-blue);
}

aside li, h3 {
  color: var(--aside-grey-blue-text);
  list-style: none;
}

a {
  text-decoration: none;
}

aside li{
  font-size: 1em;
  padding: 5px;
}

h1 {
  color: #4e515e;
}

h3 {
  margin-bottom: -12px;
  margin-left: 40px;
  font-size: .8em;
}

li {
  list-style: none;
}

.aside-profile-container {
  color: var(--aside-profile-name-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside-profile-name {
  text-align: center;
}

.aside-profile-photo {
  margin-top: 20px;
}

.icon-down-arrow {
  height: 7px;
  margin-left: 10px;
}

.name-and-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-main-nav-title,
.aside-admin-nav-title,
.aside-categories-nav-title {
  color: #65748d;
  font-weight: 800;
}

.aside-main-nav-item,
.aside-admin-nav-item {
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 40px;
  cursor: pointer;

  display: flex;
  justify-content: flex-start;
}

.aside-list-item {
  margin-left: -40px;
}

.aside-list-item:hover li{
  background-color: var(--aside-navy-nav-hover);
  color: white;
  border-left: var(--light-blue) solid 3px;
  background-position: 37px;
}

.aside-list-item:hover li p {
  margin-left: 57px;
}

li p {
  font-size: 0.8em;
  margin: 0;
  margin-left: 60px;
  padding: 8px;
  font-weight: bold;
}

.aside-categories-nav-item span{
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 10px;
}

.aside-categories-nav-item {
  cursor: pointer;
}

.nav-list-item label li{
  padding: 10px;
  margin-left: -10px;
}



/* ICON HOVER */

.home-container li {
  background-image: url(images/icons/icon-home-bluegrey.svg);
}

.home-container:hover li {
  background-image: url(images/icons/icon-home-white.svg);
}

.jobs-container li {
  background-image: url(images/icons/icon-jobs-bluegrey.svg);
}

.jobs-container:hover li {
  background-image: url(images/icons/icon-jobs-white.svg);
}

.resumes-container li {
  background-image: url(images/icons/icon-resumes-bluegrey.svg);
}

.resumes-container:hover li {
  background-image: url(images/icons/icon-resumes-white.svg);
}

.tasks-container li {
  background-image: url(images/icons/icon-tasks-bluegrey.svg);
}

.tasks-container:hover li {
  background-image: url(images/icons/icon-tasks-white.svg);
}

.calendar-container li {
  background-image: url(images/icons/icon-calendar-bluegrey.svg);
}

.calendar-container:hover li {
  background-image: url(images/icons/icon-calendar-white.svg);
}

.users-container li {
  background-image: url(images/icons/icon-users-bluegrey.svg);
}

.users-container:hover li {
  background-image: url(images/icons/icon-users-white.svg);
}

.locations-container li {
  background-image: url(images/icons/icon-locations-bluegrey.svg);
}

.locations-container:hover li {
  background-image: url(images/icons/icon-locations-white.svg);
}

.workflows-container li {
  background-image: url(images/icons/icon-workflows-bluegrey.svg);
}

.workflows-container:hover li {
  background-image: url(images/icons/icon-workflows-white.svg);
}

.job-boards-container li {
  background-image: url(images/icons/icon-job-boards-bluegrey.svg);
}

.job-boards-container:hover li {
  background-image: url(images/icons/icon-job-boards-white.svg);
}

.social-container li {
  background-image: url(images/icons/icon-social-bluegrey.svg);
}

.social-container:hover li {
  background-image: url(images/icons/icon-social-white.svg);
}

.job-boards span {
  text-wrap: none;
}

.aside-categories-nav-container {
  margin-left: 20px;
  padding: 4px 0 4px 0;
  font-size: 12px;
}

/* CHECKBOXES */

.cb1,
.cb2,
.cb3,
.cb4 {
  height: 100px;
  width: 100px;
}

.cb1 label {
  cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  left: 0;
	background: #eee;
	border:1px solid #ddd;
}

.cb1 label:after {
  opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

/* HEADER */

header {
  grid-area:  1 / 2 / 2 / 2;

  display: grid;
  width: 100%;

  grid-template-columns: 6.25% auto 6.25% 6.25% 6.25%;
  grid-template-rows: 100%;

  border-bottom: 2px #e4e6ea solid;
}

.header-button {
  border: none;
  background-color: white;
  border-left: 2px #e4e6ea solid;
}

.header-button:hover {
  background-color: var(--light-blue);
}

.header-button-icon {
  height: 22px;
}

.header-hamburger-container {
  grid-area: 1 / 1 / 2 / 2;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.search-bar-container {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
}

.search-bar-hamburger-button{
  background-image: url(images/icons/icon-hamburger-grey-with-blue-triangle.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-left: 2px solid #e4e6ea;
  height: 100%;
  width: 100%
}

.search-bar-hamburger-button:hover{
  background-image: url(images/icons/icon-hamburger-with-triangle-white.svg);
  border-right:2px #149aea solid;
  border-left: 2px #149aea solid;
}

.header-add-job-button {
  background-image: url(images/icons/icon-add-job-grey.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.header-add-job-button:hover {
  background-image: url(images/icons/icon-add-job-white.svg);
  border-right:2px #149aea solid;
  border-left: 2px #149aea solid;
}

.header-add-to-calendar-button {
  background-image: url(images/icons/icon-add-task-grey.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}
.header-add-to-calendar-button:hover {
  background-image: url(images/icons/icon-add-task-white.svg);
  border-right:2px #149aea solid;
  border-left: 2px #149aea solid;
}

.header-show-grid-button {
  background-image: url(images/icons/icon-grid-grey.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.header-show-grid-button:hover {
  background-image: url(images/icons/icon-grid-white.svg);
  border-right:2px #149aea solid;
  border-left: 2px #149aea solid;
}

.header-search-bar-input {
  font-weight: 300;
  font-size: 16px;
  width: 100%;
}

input[type="text"]{
  padding-left: 5%;
  background-image:url(images/icons/icon-search-grey.svg);
  background-repeat:no-repeat;
  background-position: 2% 45%;
  background-size: 18px;
}


.header-add-job-container {
  grid-area: 1 / 3 / 2 / 4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.header-add-to-calendar-container {
  grid-area: 1 / 4 / 2 / 5;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.header-show-grid-container {
  grid-area: 1 / 5 / 2 / 6;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

/* MAIN */

main {
  margin-top: 20px;
  background-color: ;
  grid-area: 2 / 2 / 3 / 3;

  display: grid;
  grid-template-columns: 3.5% 93% 3.5%;
  grid-template-rows: 20% 20% 60%;
}

/* JOB TITLE */

.job-title-container {
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;

  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 200px;
}

.job-title {
  grid-area: 1 / 1 / 2 / 2;
}

.city-preview-text {
  font-weight: 300;
  color: #9599a2;
  margin-left: 5px;
}

.job-title h1 {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
}

.city-preview {
  grid-area: 2 / 1 / 3 / 2;

  display; flex;
  align-items: flex-start;
  margin-top: -35px;
}

.main-top-nav-container {
  grid-area: 5 / 1 / 6 / 3;
  margin-top: -8px;
  height: 50px;
}

.main-top-nav ul {
  display: flex;
}

.main-top-nav li {
  color: #8a95a5;
  font-weight: bold;
  padding-bottom: 11px;
  cursor: pointer;
}

.main-top-nav li:hover {
  color: #4e515e;
  padding-bottom: 11px;
  border-bottom: 6px var(--light-blue) solid;
  height: 30px;
}

.main-top-nav-list-item {
  margin-left: 40px;

}

.first-list-item {
  margin-left: -30px;
}

.job-title-button-container {
  grid-area: 2 / 2 / 4 / 3;
  display: flex;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 10%;
}

.job-title-button {
  border: 2px #d2dae2 solid;
  background-color: white;
  border-radius: 100%;
  font-size: 12px;
  background-position: left;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: -90px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 14px;
}

.job-title-button:hover {
  background-color: #d2dae2;
  color: white;
}

.job-title-button-icon {
  height: 10px;
  width: 10px;
}

.green-circle {
  margin-right: 5px;
}

.button-open {
  border-width: 2px 4px;
  border-radius: 40px;
  font-size: 14px;
  width: 150px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-open p {
  margin: 0;
  margin-left: 10px;
  color: #6f7a8b;
}

.button-open:hover {
  border: 2px #8cc63d solid;
  background-color: #8cc63d;
  border-width: 2px 4px;
  border-radius: 40px;
}

.button-open:hover p {
  color: white;
}

.button-open:hover img {
  visibility: hidden;
}



.button-open div {
  display: flex;
  align-items: center;
}

.green-circle {
  height: 10px;
}

.button-bookmark {
  background-image: url(images/icons/icon-bookmark-grey.svg);
}

.button-bookmark:hover {
  background-image: url(images/icons/icon-bookmark-white.svg);
}

.button-edit {
  background-image: url(images/icons/icon-edit-grey.svg);
}

.button-edit:hover {
  background-image: url(images/icons/icon-edit-white.svg);
}

.button-delete {
  background-image: url(images/icons/icon-trash-grey.svg);
}

.button-delete:hover {
  background-image: url(images/icons/icon-trash-white.svg);
}

.city-preview {
  grid-area: 2 / 1 / 3 / 2;
  align-self: start;
}

.icon-job-location {
  display: inline;
  height: 12px;
  margin-right: 10px;
}

.preview-post-link {
  text-decoration: none;
  color: var(--light-blue);
}

/* MAIN TOP NAV */



/* DATA VIZ */

.data-viz-container {
  grid-area: 2 / 2 / 3 / 3;
  height: 400px;

  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 70% 30%;
}

.pie-graph-container {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-graph-container {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bar-graph {
  height: 200px;
  margin-top: 20px;
  margin-left: 5%;
}

.pie-chart {
  margin-top: 20px;
  height: 200px;
  margin-left: 5%;
}
.pie-graph-button-container {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-graph-button-container {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-viz-button {
  background-color: white;
  color: #596679;
  border: none;
  border-width: 2px 4px;
  border-radius: 40px;
  padding: 15px;
  vertical-align: middle;
  z-index: 2;
  border: 2px #d2dae2 solid;
  margin-bottom: 100px;
  font-size: 0.8em;
}
.applicants-button {
  margin-left: 20%;
}

.data-viz-button:hover {
  background-color: #596679;
  color: white;
}

.job-description-collapse {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding-top: 25px;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  border-width: 2px 4px;
}

.collapse-button-line-break {
  flex: 1;
  border-color: #d2dae2;
  margin-bottom: 60px;
}

.collapse-button {
  border: 2px solid #d2dae2;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: white;
  margin: 0 10px 38px 10px;
  cursor: pointer;
  background-image: url(images/icons/icon-up-arrow-grey.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 50% 50%;
}

.collapse-button:hover {
  background-image: url(images/icons/icon-up-arrow-white.svg);
  background-color: #d2dae2;
}

.job-description-container {
  grid-area: 3 / 2 / 4 / 3;
  display: grid;
  grid-template-columns: 68% 3.5% 28.5%;
  grid-template-rows: 100%;
  margin-top: 30px;
}

.job-description-text-box-card {
  background-color: white;
}

.job-description-text-box-title,
.job-description-text-box-card {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 0;
}

.job-description-text-box-title {
  padding-left: 30px;
  border-bottom: 1px solid #637189;
}

.job-description-box {

}

.card {
  border-bottom-left-radius: 10px;
}

.jd-title {
  font-weight: 700;
  margin-left: 30px;
  width: 140px;
  color: var(--job-description-blue);
}

.jd-text {
  margin-left: 30px;
  width: 70%;
  color: var(--aside-navy-blue);
  margin-right: 30px;
}

.jd-image {
  height: 40px;
  margin-left: 30px;
}

.jd-image-text {
  margin-left: 15px;
}

.job-description-text-box-title {
  background-color: var(--job-description-blue);
  color: white;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/*.job-description-edit-button {
  border: none;
  background-image: url(images/icons/icon-edit-white.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 20% 50%;
  background-color: var(--job-description-edit);
  height: 30px;
  color: white;
  margin-left: 40px;
  border-radius: 3px;
  width: 100px;
  padding: 20px;
  text-align: center;
  vertical-align: center;
}*/

.job-description-edit-button {
  background-color: var(--job-description-edit);
  border: none;
  background-image: url(images/icons/icon-edit-white.svg);
  background-repeat: no-repeat;
  background-position: 20% 50%;
  background-size: 10px;
  font-weight: bold;
  color: white;
  padding: 5px;
  width: 75px;
  height: 30px;
  border-radius: 3px;
  margin-left: 20px;
}

.job-description-edit-button p {
  margin: 0;
  margin-left: 20px;
}

.job-description-edit-button:hover {
  background-color: white;
  background-image: url(images/icons/icon-edit-grey.svg);
  background-repeat: no-repeat;
  color: var(--job-description-edit);
}

.edit-button-icon {
  height: 10px;
  margin-right: 5px;
}

.cell {
  border-bottom: 2px #eef2f5 solid;
}

.social-media-and-links-and-email {
  grid-area: 1 / 3 / 2 / 4;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.links-and-email {
  background-color: magenta;
}

.social-button {
  color: white;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  padding: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 3px;
}

.social-media-facebook-button {
  background-image: url(images/icons/icon-facebook-white.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 15%;
  background-color: var(--facebook-blue);
}

.social-media-facebook-button:hover {
  background-color: white;
  color: var(--facebook-blue);
  background-image: url(images/icons/icon-facebook-blue.svg);
  border: 2px var(--facebook-blue) solid;
  background-position: 14.5%;
  padding: 16px;
}

.facebook-logo {
  background-image: url(images/icons/icon-facebook-white.svg);
}

.social-media-twitter-button {
  background-image: url(images/icons/icon-twitter-white.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 15%;
  background-color: var(--twitter-blue);
}

.social-media-twitter-button:hover {
  background-color: white;
  color: var(--twitter-blue);
  background-image: url(images/icons/icon-twitter-blue.svg);
  border: 2px var(--twitter-blue) solid;
  background-position: 14.5%;
  padding: 16px;
}

.social-media-linked-in-button {
  background-image: url(images/icons/icon-linked-in-white.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 15%;
  background-color: var(--linked-in-blue);
  margin-bottom: 7px;
}

.social-media-linked-in-button:hover {
  background-color: white;
  color: var(--linked-in-blue);
  background-image: url(images/icons/icon-linked-in-blue.svg);
  border: 2px var(--linked-in-blue) solid;
  background-position: 14.5%;
  padding: 16px;
}

.twitter-icon {
  margin-left: -16px;
}

.link-icon {
  height: 15px;
  margin-right: 6px;
}

.link-text {
  background-image: none;
  height: 24px;
  border-radius: 3px;
  border: none;
  width: 100%;
  padding: 15px;
  text-overflow: ellipsis;
}

label {
  width: 100%;
}

h5 {
  color: #596679;
  display: flex;
  align-items: center;
}

.link-button {
  border: none;
  background-color: #47bac1;
  color: white;
  margin-left: -20px;
  height: 54px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0 20px 0 20px;
}

.link-button:hover {
  background-color: #60dde5;
}

.link-text-and-button {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.empty-left,
.empty-right {
  background-color: white;
  height: 200px;
}

.last-item {
  margin-bottom: 50px;
}

.link-box {
  padding-bottom: 20px;
  border-bottom: 2px #d2dae2 solid;
}

.lb3 {
  border: none;
}

.link-box p {
  color: #596679;
}



@media (max-width: 1575px){
  .bar-graph {
    height: 175px;
  }

  .pie-chart {
    height: 175px;
  }

  .job-title-button-container {
    margin-left: 150px;
  }
}

@media (max-width: 1375px){

  .job-title-container,
  .empty-left,
  .empty-right {
    height: 130px;
  }

  .bar-graph {
    height: 150px;
  }

  .pie-chart {
    height: 150px;
  }

  .job-title-button-container {
    margin-left: 125px;
  }

  .job-title h1 {
    font-size: 1.5em;
  }

  .city-preview-text {
    font-size: 0.8em;
    margin-top: 25px;
  }

  .job-title-button-container {
    margin-left: 100px;
  }

  .job-title-button {
    width: 40px;
    height: 40px;
    background-size: 10px;
  }

  .button-open {
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-width: 0;
    border: 2px #d2dae2 solid;
    text-align: center;
  }

  .green-circle {
    padding: 0;
    margin: 0;
  }

  .button-open p {
    display: none;
  }


  .aside-main-nav-title,
  .aside-admin-nav-title,
  .aside-categories-nav-title {
    font-size: 10px;
  }

  .nav-list-item,
  .aside-main-nav-item,
  .aside-admin-nav-item {
    font-size: 14px;
  }

  .main-top-nav-container {
    height: 30px;
    margin-top: -40px;
  }

  .main-top-nav li {
    font-size: 0.8em;
    padding: 0;
  }

  .main-top-nav li:hover {
    padding-bottom: 0;
    border-bottom: 3px var(--light-blue) solid;
  }

  .link-box p {
    display: none;
  }

}

@media (max-width: 1200px){
  body {
    display: flex;
    flex-direction: column;
  }

  .aside-line-break {
    display: none;
  }

  header {
    height: 50px;
  }

  .search-bar-hamburger-button {
    background-image: url(images/icons/icon-hamburger-down-grey.svg);
    background-size: 15px;
  }

  .search-bar-hamburger-button:hover {
    background-image: url(images/icons/icon-hamburger-up-white.svg);
  }

  aside {
    height: 220px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100%;
    border: #303a4a 3px solid;
  }

  .aside-profile-container,
  .aside-main-nav-container,
  .aside-admin-nav-container {
    border-right: #303a4a 3px solid;
  }

  .job-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aside-profile-container {
    grid-area: 1 / 1 / 2 / 2;
    width: 80%;
  }

  .aside-main-nav-container {
    grid-area: 1 / 2 / 2 / 3;
    width: 80%;
  }

  .aside-admin-nav-container {
    grid-area: 1 / 3 / 2 / 4;
    width: 80%;
  }

  .aside-categories-nav-container {
    grid-area: 1 / 4 / 2 / 5;
    width: 80%;
  }

  .job-title-container,
  .empty-left,
  .empty-right {
    height: 150px;
  }

  .job-title h1 {
    margin-top: 0px;
  }

  .city-preview {
    display: inline;
    align-self: center;
  }

  .job-title-button-container {
    margin-top: 90px;
  }

  .main-top-nav-container {
    margin-top: -50px;
  }

  .data-viz-container {
    height: 300px;
  }

  .data-viz-button {
    font-size: 12px;
    margin-top: 35px;
  }

  .job-description-text-box-header,
  .job-description-edit-button,
  .jd-title,
  .jd-text,
  .social-button > span,
  .link-button,
  .link-text {
    font-size: 0.8em;
  }
}

@media (max-width: 1000px){

  input[type="text"] {
    padding-left: 6%;
  }

  .data-viz-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .pie-graph-container {
    margin-top: 10px;
  }

  .bar-graph-container {
    align-self: center;
    margin-top: 10px;
  }

  .data-viz-button {
    margin-bottom: 0;
    align-self: center;
    margin-left: 0;
  }

  .job-description-collapse {
    margin-top: 90px;
  }

  .job-description-container {
    margin-top: 100px;
  }
}

@media (max-width: 850px){

  aside {
    display: none;
  }

    .main-top-nav li {
      font-size: 0.6em;
    }

    .job-description-container {
      display: flex;
      flex-direction: column;
    }

    .social-media-buttons {
      display: flex;
    }

    .social-button {
      margin-top: 30px;
      margin-bottom: 30px;
      width: 33.3333%;
      height: 20%;
    }

    .social-media-twitter-button,
    .social-media-linked-in-button {
      margin-left: 8%;
    }

    .link-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    h5 {
      font-size: 0.7em;
      width: 260px;
      margin-right: 5%;
    }
}

@media (max-width: 700px){

  .header-container {
    display: grid;
    grid-template-columns: 15% 40% 15% 15% 15%;
  }

  input[type="text"]{
    font-size: 10px;
    padding-left: 25px;
  }

  .main-top-nav-container {
    display: none;
  }

  .job-title-container,
  .empty-left,
  .empty-right {
    height: 125px;
  }

  .pie-graph-container {
    display: flex;
    flex-direction: column;
  }

  .pie-chart {
    height: 150px;
  }

  .bar-graph {
    height: 115px;
  }

  .social-button span {
    display: none;
    background-position: left;
  }

  h5 {
    margin: 10px 0 15px 0;
  }
}

@media (max-width: 600px){

  .job-title h1 {
    font-size: 1em;
  }

  .job-title-button-container {
    margin-left: -5px;
  }

  .jd-text {
    font-size: 12px;
  }
}
